<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="">
    <link rel="icon" type="image/x-icon" href="Images/Logo-removebg-preview (1).png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../css/searchResults.css" />
</head>
<body>
    <header>
        <!-- Your header content here -->
    </header>
    <main>
        <h1>Search Results for "<%= query %>"</h1>
        <% if (results.length > 0) { %>
            <ul>
                <% results.forEach(product => { %>
                    <li>
                        <img src="<%= product.image %>" alt="<%= product.name %>">
                        <h2><%= product.name %></h2>
                        <p>Price: $<%= product.price %></p>
                        <p>Category: <%= product.category %></p>
                        <p>Quantity: <%= product.quantity %></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No results found</p>
        <% } %>
    </main>
    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
